<%= form_with model: @room do |form| %>
  <div>
    <%= form.label :number %><br>
    <%= form.number_field :number %>
    <% @room.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :room_type %><br>
    <%= form.text_field :room_type %>
    <% @room.errors.full_messages_for(:room_type).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
      <%= form.submit %>
  </div>
<% end %>